{{- if .Values.ingress.enabled -}}
# Backend IngressRoute
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ include "actualbudget.name" . }}
  labels:
    {{- include "actualbudget.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  entryPoints:
    - {{ .Values.ingress.entryPoints | default "websecure" }}
  routes:
    - kind: Rule
      match: Host(`money.allapps.me`)
      priority: 10
      services:
        - kind: Service
          name: {{ include "actualbudget.name" . }}
          port: {{ .Values.service.port }}
      {{- if .Values.ingress.middlewares }}
      middlewares:
      {{ toYaml .Values.ingress.middlewares | indent 8 }}
      {{- end }}
  tls:
      certResolver: letsencrypt
{{- end }}
