apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ include "tinyauth.name" . }}
spec:
  forwardAuth:
    address: http://{{ include "tinyauth.name" . }}.traefik.svc.cluster.local:3000/api/auth/traefik
    trustForwardHeader: true
    authResponseHeaders:
      - X-Auth-User
      - X-Auth-Groups
      - X-Auth-Name