replicaCount: 1
image:
  repository: ghcr.io/steveiliop56/tinyauth
  tag: v4
  pullPolicy: IfNotPresent
  name: ghcr.io/steveiliop56/tinyauth
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: false
  name: ""
  annotations: {}
  automountServiceAccountToken: false
podAnnotations: {}
podLabels: {}
securityContext:
  runAsNonRoot: false
  fsGroup: 1000
containerSecurityContext: {}
service:
  type: ClusterIP
  port: 3000
  annotations: {}
ingress:
  enabled: true
  tls:
      certResolver: letsencrypt
  entryPoints:
  - websecure
  matchRule: Host(`auth.allapps.me`)
  annotations:
    kubernetes.io/ingress.class: traefik
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 56Mi
persistence:
  enabled: false
  size: 1Gi
  accessModes:
  - ReadWriteOnce
  mountPath: /data
  existingClaim: ""
  storageClass: ""
  annotations: {}
volumes:
- name: tinyauth
  config:
    persistentVolumeClaim:
      claimName: tinyauth
volumeMounts:
- name: tinyauth
  mountPath: /usr/xxxx
  subPath: xxx
extraVolumes: []
extraVolumeMounts: []
env:
  APP_URL: https://auth.allapps.me/
  APP_TITLE: Login
  LOG_LEVEL: "0"
  USERS: admin:$$2a$$10$$YYO4ehBmsr0efwCihJSItOUkXbsRS5ICnBQyvEGKdIqDzQ2JeHlRq
  COOKIE_SECURE: "true"
  DISABLE_CONTINUE: "true"
  BACKGROUND_IMAGE: "https://images.unsplash.com/photo-1757600797414-7a7997f64226?q=80&w=2064&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
secretEnv:
  SECRET:
    name: tinyauth
    key: secretKey
strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 25%
    maxUnavailable: 25%
