replicaCount: 1
image:
  repository: ghcr.io/steveiliop56/tinyauth
  tag: v4
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

# Sécurité du Pod (Indispensable pour l'écriture sur le PVC)
securityContext:
  runAsNonRoot: false # Tinyauth v4 a besoin d'être root ou d'avoir les droits sur /data
  fsGroup: 1000

# PERSISTANCE : Configuration corrigée pour TinyAuth v4
persistence:
  enabled: true
  size: 100Mi
  accessModes:
    - ReadWriteOnce
  mountPath: /data
  existingClaim: "tinyauth-data" # Nom du PVC que tu as créé
  storageClass: "" # Laisse vide pour utiliser la classe par défaut (local-path sur K3s)

ingress:
  enabled: true
  tls:
    certResolver: letsencrypt
  entryPoints:
    - websecure
  annotations:
    kubernetes.io/ingress.class: traefik

env:
  APP_URL: https://auth.allapps.me/
  COOKIE_DOMAIN: allapps.me
  SESSION_EXPIRATION: "7200"
  APP_TITLE: TinyAuth
  LOG_LEVEL: "debug"
  SECURE_COOKIE: "false"
  THEME: "dark"
  USERS: admin:$2a$10$ACn0vGuLNAImqNVlma4HuO2bUCjRk/3.VD4jhRb1gtOw/KMakk.AG

secretEnv:
  SECRET_KEY: # Nom exact attendu en v4
    name: tinyauth
    key: secretKey

# On laisse vide car géré par le bloc persistence ci-dessus
extraVolumes: []
extraVolumeMounts: []

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 56Mi

strategy:
  type: Recreate # Recreate est préférable pour SQLite afin d'éviter que 2 pods accèdent au même fichier