apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    deployment:
      replicas: 1
      kind: Deployment
      hostNetwork: false
      strategy:
        type: Recreate
      initContainers:
        - name: volume-permissions
          image: busybox:latest
          command: ["sh", "-c", "touch /data/acme.json && chmod 600 /data/acme.json && chown 65532:65532 /data/acme.json"]
          volumeMounts:
            - name: data
              mountPath: /data
          securityContext:
            runAsNonRoot: false
            runAsUser: 0

    podSecurityContext:
      fsGroup: 65532
      fsGroupChangePolicy: "OnRootMismatch"

    ports:
      web:
        port: 8000
        exposedPort: 8000
        # Redirection automatique vers HTTPS (équivalent à ta config Docker)
        redirectTo:
          port: websecure
          priority: 10
      websecure:
        port: 8443
        exposedPort: 8443
        # TLS activé par défaut sur ce port
        tls:
          enabled: true
          certResolver: letsencrypt

    service:
      type: LoadBalancer

    additionalArguments:
      - "--certificatesresolvers.letsencrypt.acme.email=benjaminherve.pro@gmail.com"
      - "--certificatesresolvers.letsencrypt.acme.storage=/data/acme.json"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge=true"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge.provider=porkbun"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge.resolvers=1.1.1.1:53,8.8.8.8:53"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge.propagation.delayBeforeChecks=30"
      - "--certificatesresolvers.letsencrypt.acme.caserver=https://acme-v02.api.letsencrypt.org/directory"
      - "--log.level=INFO"

    env:
      - name: PORKBUN_API_KEY
        valueFrom:
          secretKeyRef:
            name: porkbun-credentials
            key: PORKBUN_API_KEY
      - name: PORKBUN_SECRET_API_KEY
        valueFrom:
          secretKeyRef:
            name: porkbun-credentials
            key: PORKBUN_SECRET_API_KEY

    persistence:
      enabled: true
      name: data
      size: 128Mi
      path: /data
      accessMode: ReadWriteOnce