traefik:
  service: 
    type: NodePort
  ports: 
    web:
      nodePort: 31960
      asDefault: true
      forwardedHeaders:
        trustedIPs:
          - 127.0.0.1
          - ::1
    websecure:
      nodePort: 31961
      expose:
        default: false
  globalArguments:
      - "--global.sendanonymoususage=false"
  providers:  # @schema additionalProperties: false
    kubernetesCRD:
      # -- Load Kubernetes IngressRoute provider
      enabled: true
    kubernetesIngress:
      # -- Load Kubernetes Ingress provider
      enabled: true
  ingressRoute: 
    dashboard: 
      enabled: true
      matchRule: HostRegexp(`^traefik\..+$`)
      annotations:
        kubernetes.io/ingress.class: "traefik"
      entryPoints: ["web"]
  logs: 
    general: 
      level: "TRACE"
    access:
      enabled: true



