apiVersion: traefik.io/v1alpha1
kind: TLSOption
metadata:
  name: default
  namespace: kube-system # Important : doit être là où Traefik est installé
spec:
  minVersion: VersionTLS12
  maxVersion: VersionTLS13
  sniStrict: true
  preferServerCipherSuites: true
  curvePreferences:
    - CurveP521
    - CurveP384
  alpnProtocols:
    - http/1.1
    - h2
  cipherSuites:
    - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
    - TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256
    - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
    - TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
    - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305
    - TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305