image:
  pullPolicy: IfNotPresent
  tag: 1.123.17
  repository: n8nio/n8n
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 25%
    maxUnavailable: 25%
serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""
podAnnotations: {}
podLabels: {}
podSecurityContext: {}
securityContext: {}
service:
  type: ClusterIP
  port: 5678
  name: http
  annotations: {}
log:
  level: info
  output:
  - console
  scopes: []
  file:
    location: logs/n8n.log
    maxsize: 16
    maxcount: "100"
db:
  tablePrefix: ""
  type: sqlite
  runVacuumSQLite: "false"
  sqlitePoolSize: 1
  service:
    ports:
      postgresql: 5432
  resources:
    limits:
      cpu: "4"
      memory: 4Gi
    requests:
      cpu: "1"
      memory: 2Gi
  auth:
    username: ""
    password: ""
    database: n8n
  logging:
    enabled: false
    options: error
    maxQueryExecutionTime: 0
diagnostics:
  enabled: false
  frontendConfig: 1zPn9bgWPzlQc0p8Gj1uiK6DOTn;https://telemetry.n8n.io
  backendConfig: 1zPn7YoGC3ZXE9zLeTKLuQCB4F6;https://telemetry.n8n.io
  postHog:
    apiKey: phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo
    apiHost: https://ph.n8n.io
versionNotifications:
  enabled: false
  endpoint: https://api.n8n.io/api/versions/
  infoUrl: https://docs.n8n.io/hosting/installation/updating/
api:
  enabled: true
  path: api
  swagger:
    enabled: true
worker:
  mode: regular
  count: 2
  concurrency: 10
webhook:
  mode: regular
  count: 2
  url: ""
workflowHistory:
  enabled: true
  pruneTime: 336
encryptionKey: ""
timezone: Europe/Paris
defaultLocale: en
gracefulShutdownTimeout: 30
ingress:
  enabled: true
  entryPoints: web
  annotations:
    gethomepage.dev/href: https://n8n.allapps.me
    gethomepage.dev/enabled: "true"
    gethomepage.dev/group: Tools
    gethomepage.dev/icon: n8n.png
    gethomepage.dev/name: N8n
    gethomepage.dev/pod-selector: ""
    gethomepage.dev/weight: "10"
extraEnvVars:
  N8N_RUNNERS_ENABLED: "true"
  N8N_BLOCK_ENV_ACCESS_IN_NODE: "true"
  N8N_GIT_NODE_DISABLE_BARE_REPOS: "true"
  N8N_EDITOR_BASE_URL: https://n8n.allapps.me
  WEBHOOK_URL: https://n8n.allapps.me/
  N8N_HOST: n8n.allapps.me
  N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: "true"
  N8N_PROXY_HOPS: "1"
  N8N_LOG_LEVEL: info
  GENERIC_TIMEZONE: Europe/Paris
  N8N_METRICS: "true"
  QUEUE_HEALTH_CHECK_ACTIVE: "true"
extraSecretNamesForEnvFrom: []
resources:
  requests:
    memory: 250Mi
    cpu: 250m
  limits:
    memory: 2024Mi
    cpu: 1000m
livenessProbe:
  enabled: true
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 1
  failureThreshold: 3
  successThreshold: 1
readinessProbe:
  enabled: true
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 1
  failureThreshold: 3
  successThreshold: 1
volumes: []
volumeMounts: []
nodeSelector: {}
tolerations: []
affinity: {}
