kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "home-assistant.name" . }}
  labels:
  {{- include "home-assistant.labels" . | nindent 4 }}
data:
  known_devices.yaml: |
  automations.yaml: |
  configuration.yaml: |-
    default_config:
    # Load frontend themes from the themes folder
    frontend:
      themes: !include_dir_merge_named themes

    automation: !include automations.yaml
    script: !include scripts.yaml
    scene: !include scenes.yaml
    http:
      use_x_forwarded_for: true
      trusted_proxies:
        - 10.244.7.174
        - 127.0.0.1
        - ::1

