kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "home-assistant.name" . }}
  labels:
  {{- include "home-assistant.labels" . | nindent 4 }}
data:
  known_devices.yaml: |
  automations.yaml: |
  configuration.yaml: |-
    default_config:
    # Load frontend themes from the themes folder
    frontend:
      themes: !include_dir_merge_named themes

    automation: !include automations.yaml
    script: !include scripts.yaml
    scene: !include scenes.yaml
    http:
      use_x_forwarded_for: true
      trusted_proxies:
        - 10.244.0.0/16


---


kind: ConfigMap
apiVersion: v1
metadata:
  name: home-assistant-configmap-mqtt
  namespace: home-assistant
data:
  configuration.yaml: |-
    Indicates the configuration version (used by configuration migrations)
    version: 4

    # Home Assistant integration (MQTT discovery)
    homeassistant:
        enabled: true

    # Enable the frontend, runs on port 8080 by default
    frontend:
        enabled: true
        url: 'https://mqtt.allapps.me/'
        # port: 8080

    # MQTT settings
    mqtt:
        # MQTT base topic for zigbee2mqtt MQTT messages
        base_topic: zigbee2mqtt
        # MQTT server URL
        server: 'mqtt://localhost'
        # MQTT server authentication, uncomment if required:
        # user: my_user
        # password: my_password

    # Serial settings, only required when Zigbee2MQTT fails to start with:
    #   USB adapter discovery error (No valid USB adapter found).
    #   Specify valid 'adapter' and 'port' in your configuration.
    # serial:
    #     # Location of the adapter
    #     # USB adapters - use format "port: /dev/serial/by-id/XXX"
    #     # Ethernet adapters - use format "port: tcp://192.168.1.12:6638"
    #     port: /dev/serial/by-id/usb-Texas_Instruments_TI_CC2531_USB_CDC___0X00124B0018ED3DDF-if00
    #     # Adapter type, allowed values: `zstack`, `ember`, `deconz`, `zigate` or `zboss`
    #     adapter: zstack

    # Periodically check whether devices are online/offline
    # availability:
    #     enabled: false

    # Advanced settings
    advanced:
        # channel: 11
        # Let Zigbee2MQTT generate a network key on first start
        network_key: GENERATE
        # Let Zigbee2MQTT generate a pan_id on first start
        pan_id: GENERATE
        # Let Zigbee2MQTT generate a ext_pan_id on first start
        ext_pan_id: [0x01, 0x02, 0x03, 0x04, 0x05, 0x06, 0x07, 0x08]

