{{- if .Values.ingress.enabled -}}
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ include "home-assistant.fullname" . }}-forwarded
  labels:
    {{- include "home-assistant.labels" . | nindent 4 }}
spec:
  headers:
    customRequestHeaders:
      X-Forwarded-For: ""
    trustedIPs:
{{- range .Values.ingress.trustedProxies }}
      - {{ . }}
{{- end }}

---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ include "home-assistant.name" . }}
  labels:
    {{- include "home-assistant.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  entryPoints:
    - {{ .Values.ingress.entryPoints | default "web" }}
  routes:
    - kind: Rule
      match: 'HostRegexp(`^dom\..+$`)'
      middlewares:
        - name: {{ include "home-assistant.fullname" . }}-forwarded
      services:
        - kind: Service
          name: {{ include "home-assistant.fullname" . }}
          port: {{ .Values.service.port }}
{{- end }}
