{{- if .Values.ingress.enabled -}}

apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ include "home-assistant.name" . }}
  labels:
    {{- include "home-assistant.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  entryPoints:
    - {{ .Values.ingress.entryPoints | default "web" }}
  routes:
    - kind: Rule
      match: 'HostRegexp(`^ha\..+$`)'
      services:
        - kind: Service
          name: {{ include "home-assistant.fullname" . }}
          port: {{ .Values.service.port }}
{{- end }}

---

apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  labels:
    app.kubernetes.io/instance: home-assistant
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: home-assistant
    argocd.argoproj.io/instance: home-assistant
    helm.sh/chart: home-assistant-1.0.0
  name: home-assistant-zmqtt
spec:
  entryPoints:
    - web
  routes:
    - kind: Rule
      match: HostRegexp(`^mqtt\..+$`)
      services:
        - kind: Service
          name: zigbee2mqtt
          port: 8080

---

# apiVersion: traefik.io/v1alpha1
# kind: IngressRoute
# metadata:
#   labels:
#     app.kubernetes.io/instance: home-assistant
#     app.kubernetes.io/managed-by: Helm
#     app.kubernetes.io/name: home-assistant
#     argocd.argoproj.io/instance: home-assistant
#     helm.sh/chart: home-assistant-1.0.0
#   name: home-assistant-mqtt
# spec:
#   entryPoints:
#     - web
#   routes:
#     - kind: Rule
#       match: HostRegexp(`^mqtt\..+$`)
#       services:
#         - kind: Service
#           name: mosquitto
#           port: 1883