replicaCount: 1
image:
  repository: ghcr.io/stirling-tools/stirling-pdf
  tag: 2.4.5
  pullPolicy: IfNotPresent
  name: ghcr.io/stirling-tools/stirling-pdf
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: true
  name: ""
  annotations: {}
  automountServiceAccountToken: false
podAnnotations: {}
podLabels: {}
securityContext:
  runAsNonRoot: false
  fsGroup: 1000
containerSecurityContext: {}
service:
  type: ClusterIP
  port: 8080
  annotations: {}
ingress:
  enabled: true
  entryPoints:
  - websecure
  matchRule: Host(`pdf.allapps.me`)
  annotations:
    kubernetes.io/ingress.class: traefik
resources:
  limits:
    cpu: 2
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 128Mi
persistence:
  enabled: true
  size: 1Gi
  accessModes:
  - ReadWriteOnce
  mountPath: /data
  existingClaim: ""
  storageClass: ""
  annotations: {}
volumes:
- name: stirlingpdf
  config:
    persistentVolumeClaim:
      claimName: stirlingpdf
volumeMounts:
- name: stirlingpdf
  mountPath: /usr/share/tessdata
  subPath: tessdata
- name: stirlingpdf
  mountPath: /configs
  subPath: configs
- name: stirlingpdf
  mountPath: /customFiles
  subPath: customFiles
- name: stirlingpdf
  mountPath: /logs
  subPath: logs
- name: stirlingpdf
  mountPath: /pipeline
  subPath: pipeline
extraVolumes: []
extraVolumeMounts: []
env:
  SYSTEM_ROOTURIPATH: /
  ALLOW_GOOGLE_VISIBILITY: "false"
  APP_LOCALE: fr-FR
  SYSTEM_ENABLEANALYTICS: "false"
  PUID: "1000"
  PGID: "1000"
strategy:
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 25%
    maxUnavailable: 25%
livenessProbe:
  enabled: true
  initialDelaySeconds: 5
  periodSeconds: 60
  timeoutSeconds: 1
  failureThreshold: 3
  successThreshold: 1
readinessProbe:
  enabled: true
  initialDelaySeconds: 5
  periodSeconds: 60
  timeoutSeconds: 1
  failureThreshold: 3
  successThreshold: 1
